#contentmain img {
    position: absolute;
    margin-left: 35%;
    margin-right: 50%;
    margin-top: 4.5em;
    width: 10em;
}

#contentmain h1 {
    position: absolute;
    margin-top: 1em;
    margin-left: 6.5em;
}

#contentmain p {
    position: absolute;
    margin-top: 8em;
    margin-left: 10em;
    margin-right: 3em;
    font-size: 25px;
    color: white;
    line-height:35px;
    text-align: center;
}
h1 {
    color: white;
    font-size: 40px;
    text-align: left;
    padding-bottom: 40;
}